extends layout
block content
  <br/><br/><br/><br/>
  .row
    .col-sm-12
      form.add-project(action="/do_add", method="post")
        h4.form-signin-heading Add a Project
        .form-inline
          .form-group
            label Area
            input.form-control(type="text", size="25", name="area", placeholder="Area")
          .form-group
            label Name
            input.form-control(type="text", size="40", name="name", placeholder="Name")
          .form-group
            label Leader
            input.form-control(type="text", name="leader", placeholder="Leader")
          <br>
          .form-group
            label Due Date
            input.form-control(type="text", name="date", placeholder="Due Date")
          .form-group
            label Members
            input.form-control(type="text", size="75", name="members", placeholder="Members")
          <br>
          .form-group
            label Grant Deliverables
            input.form-control(type="text", size="75", name="deliverables", placeholder="Grant Deliverables")
          <br>
          .form-group
            label Software Requirements
            input.form-control(type="text", size="75", name="software", placeholder="Software Requirements")
          <br>
          .form-group
            label Estimted Effort
            input.form-control(type="text", size="75", name="effort", placeholder="Estimated Effort")
          <br>
          button.btn.btn-large.btn-primary(type="submit") Add Project
block js-includes
