extends layout
block content
    #statusDisplay.hide
      | Nothing to display
    .row
      <br/><br/><br/>
      #chartArea.row.quickstatus
        #chart1.col-sm-2.theCharts
        #chart2.col-sm-2.theCharts
        #chart3.col-sm-2.theCharts
        #chart4.col-sm-2.theCharts
        #chart5.col-sm-2.theCharts
        #chart6.col-sm-2.theCharts
    .row
      #modal-add-project.modal.fade
        .modal-dialog(role="document")
          .modal-content
            .modal-header
              button.close(type="button" data-dismiss="modal") x
              h4 Add a Project
            .modal-body
              form.form-horizontal
                .form-group
                  label.col-xs-2.one-line Area
                  .col-xs-9
                    input#add-area.addProject.form-control(type="text", name="add-area", placeholder="Area")
                .form-group
                  label.col-xs-2.one-line Name
                  .col-xs-9
                    input.addProject.form-control(type="text", name="add-name", placeholder="Name")
                .form-group
                  label.col-xs-2.one-line Leader
                  .col-xs-9
                    input.addProject.form-control(type="text", name="add-leader", placeholder="Leader")
                .form-group
                  label.col-xs-2.one-line Due Date
                  .col-xs-9
                    select.populate-with-dates.addProject.form-control(name="add-date")
                .form-group
                  label.col-xs-2.one-line Members
                  .col-xs-9
                    input.addProject.form-control(type="text", name="add-members", placeholder="Members")
                .form-group
                  label.col-xs-2.one-line Deliverable
                  .col-xs-9
                    input.addProject.form-control(type="text", name="add-goals", placeholder="Deliverable")
                .form-group
                  label.col-xs-2.one-line Link
                  .col-xs-9
                    input.addProject.form-control(type="text", name="add-link", placeholder="A link to more details about this project")
                .form-group
                  label.col-xs-2.one-line Status
                  .col-xs-9
                    select.addProject.form-control(name="add-status")
                      option Not Started
                      option Started + Active
                      option Started + Inactive
                      option Finished
                      option On Hold
                      option Ongoing
                      option Stopped/Cancelled
                .form-group
                  label.col-xs-2.one-line Scheduale
                  .col-xs-9
                    select.addProject.form-control(name="add-scheduale")
                      option Ahead
                      option On Track
                      option Behind
            .modal-footer
              input.btn.btn-success(type="submit" value="Submit" data-dismiss="modal" id="submit-add-project")
              button.btn.btn-default(type="button" data-dismiss="modal") Cancel
      #modal-edit-project.modal.fade
        .modal-dialog(role="document")
          .modal-content
            .modal-header
              button.close(type="button" data-dismiss="modal") x
              h4 Edit Project
            .modal-body
              form.form-horizontal
                .form-group
                  label#editTarget.col-xs-2.one-line(target-value="target" target-id="1") Target
                  .col-xs-9
                    input#edit-data.form-control.hide(type="text", name="edit-data", placeholder="Editing prior data")
                    select#edit-status.form-control.hide(name="edit-status")
                      option Not Started
                      option Started + Active
                      option Started + Inactive
                      option Finished
                      option On Hold
                      option Ongoing
                      option Stopped/Cancelled
                    select#edit-scheduale.form-control.hide(name="edit-scheduale")
                      option Ahead
                      option On Track
                      option Behind
                    select#edit-date.populate-with-dates.form-control.hide(name="edit-date")
            .modal-footer
              #linkNote.pull-left Remember to add "http://" or "https://" to the front of your link
              input.btn.btn-success(type="submit" value="Submit" data-dismiss="modal" id="submit-edit-project")
              button.btn.btn-default(type="button" data-dismiss="modal") Cancel
    .row
      .col-xs-12
        .table-responsive
          table#mainTable.table.table-striped
            thead
              tr
                th Area
                th Name
                th Leader
                th Members
                th Due
                th Deliverable 
                th Status
                th Schedule
                th Link
                th Discuss
              tbody

block js-includes
  script(src='/3rd-party-js/tablesorter-2.0.5.min.js')
  script(src='/3rd-party-js/radialProgress.js')
  script(src='/js/dates.js')
  script(src='/js/charts.js')
  script(src='/js/project-listeners.js')
  script(src='/js/table.js')
