extends layout
block content
    .row
      <br/><br/><br/><br/>
      .row.quickstatus
        .col-xs-12.col-sm-4.placeholder
          h4 Timelines
          #pieSummaryDate
        .col-xs-12.col-sm-4.placeholder
          h4 Areas
          #pieSummaryArea
        .col-xs-12.col-sm-4.placeholder
          h4 Leaders
          #pieSummaryLeader
    .row
      .col-xs-12
        .table-responsive
          table#mainTable.table.table-striped
            thead
              tr
                th Area
                th Name
                th Leader
                th Members
                th Completion Target
                th Grant Deliverable
                th Software Requirements
                th Effort Requirements
              tbody
                
block js-includes
  // Javascript to build (populate) the table
  script(src='/3rd-party-js/tablesorter-2.0.5.min.js')
  script(src='/js/buildTable.js')
  script(src='/js/summaryPieChart-Date.js')
  script(src='/js/summaryPieChart-Area.js')
  script(src='/js/summaryPieChart-Leader.js')
