/* All */
body {
  font-family: 'Slabo 13px', serif;
  font-size: 13px;
  overflow-x: hidden;
}

/* Navbar */
.navbar {
  background-color: #325880;
  display: block;
  color: white !important;
  padding-right: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.navbar-brand {
  font-size: 30px;
}
.navbar a {
  color: white !important;
  text-decoration: none;
}

/* Quick status section */
.quickstatus {
  padding: 5px 15px 5px 15px;
  text-align: center;
}

/* Main Table */
#mainTable th {
  font-family: 'Slabo 27px', serif;
  font-size: 18px;
  padding-right: 2em;
}
/* Table sorting CSS */
th.header {
  background-image: url(/img/sort-up-down.gif);
  background-repeat: no-repeat;
  background-position: 100% 75%;
  background-size: 47px 24px;
}

/* Donut chart CSS*/
.legend {
  font-size: 12px;
}
rect {
  stroke-width: 2;
}
.d3tooltip {
  display: none;
  background-color: white;
  box-shadow: 0 0 5px #999999;
  font-size: 12px;
  left: 33%;
  right: 33%;
  top: 40%;
  position: absolute;
  text-align: center;
  z-index: 10;
  color: #325880;
}
.charts {
  position: relative;
}
.tip-main {
  font-size: 14px;
}
.tip-count {
  font-size: 12px;
}
.tip-percent {
  font-size: 12px;
}

/* Forms */
label.one-line {
  text-align: right;
  margin-top: 5px;
}

label.two-lines {
  text-align: right;
  margin-top: 0px;
}
