/* All */

body {
  font-family: 'Slabo 13px', serif;
  font-size: 13px;
  overflow-x: hidden;
}

/* Navbar */

.navbar {
  background-color: #325880;
  display: block;
  color: white !important;
  padding-right: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.navbar-brand {
  font-size: 30px;
}
.navbar a {
  color: white !important;
  text-decoration: none;
}

/* Quick status section */

.quickstatus {
  padding: 5px 15px 5px 15px;
  text-align: center;
}

/* Main Table */

#mainTable th {
  font-family: 'Slabo 27px', serif;
  font-size: 16px;
  padding-right: 2em;
  line-height: 8px;
  color: #325880;
}

/* Table sorting CSS */

th.header {
  background-image: url(/img/sort-up-down.gif);
  background-repeat: no-repeat;
  background-position: 100% 75%;
  background-size: 47px 24px;
}

/* Donut chart CSS*/

.legend {
  font-size: 12px;
}
rect {
  stroke-width: 2;
}
.d3tooltip {
  display: none;
  background-color: white;
  box-shadow: 0 0 5px #999999;
  font-size: 12px;
  left: 33%;
  right: 33%;
  top: 40%;
  position: absolute;
  text-align: center;
  z-index: 10;
  color: #325880;
}
.charts {
  position: relative;
}
.tip-main {
  font-size: 14px;
}
.tip-count {
  font-size: 12px;
}
.tip-percent {
  font-size: 12px;
}

/* Forms */

label.one-line {
  text-align: right;
  margin-top: 7px;
  margin-bottom: 7px;
}
label.two-lines {
  text-align: right;
  margin-top: 0px;
}

/* Status Box*/

#statusDisplay {
  position: absolute;
  right: 10px;
  top: 60px;
  height: 60px;
  width: 200px;
  font-size: 1.1em;
  text-align: right;
  padding: 10px;
}

/* Remove proejct button */

.removeProject {
  opacity: .4;
  margin-right: 1em;
  margin-left: -.5em;
  margin-top: -2px;
  float: left;
}

/* Button that enables deletes */

#enableDelete:focus {
  outline: none;
}

/* For percent raidal charts */

.arc {
  stroke-weight: 0.1;
  fill: #4e8fff;
}
.arc2 {
  stroke-weight: 0.1;
  fill: #3660b0;
}
.label {
  text-anchor: middle;
}
.radial-svg {
  display: inline;
  margin: 0 auto;
}
.background {
  fill: #FFFFFF;
  fill-opacity: 0.01;
}
.component {
  fill: #e1e1e1;
}
.component .label {
  font-family: Myriad, "Helvetic Neue", Helvetica, Arial;
  text-anchor: middle;
  fill: #325880;
}

.summary-text {
  font-family: 'Slabo 27px', serif;
  font-size: 18px;
}

.summary-text-tiny {
  font-family: 'Slabo 27px', serif;
  font-size: 16px;
}

.summary-text-tiny-blue {
  font-family: 'Slabo 27px', serif;
  font-size: 16px;
  color: #325880;
}

.summary-text-blue {
  color: #325880;
  font-weight: 800;
  font-size: 30px;
}

/* For the discussion flag*/
.noFlag {
  opacity: .1;
}
.glyphicon-flag {
  color: #009900;
}

/* Link note */
#linkNote {
  padding-top: 8px;
  color: #888;
}
